.clients{
  padding: 0 0 2rem;
  .section-header{
   &:after{
      text-decoration-color: #3e3d3d;
    }
  } 
}
.clients-logo{
  li{
    margin-bottom: 2rem;
     text-align: center;
  }
  img{
    vertical-align: middle;
  }
 
}