.welcome{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: 
  url('./../img/welcome-image.png');
  overflow: hidden;
  .slide-prev, .slide-next{
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    color: #a4a4a4;
    text-align: center;
    line-height: 34px;
    &:hover{
      color: rgba(0, 0, 0, 1);
    }
  }
  .slide-list{
    height: 100vh;
     width: 100%;
  }
  &-text{
   @extend  %absolute-center-center;
   width: 80%;
   overflow: hidden;
   padding: 3rem 0;
   text-align: center;
   color: #ffffff;
   p{
     margin-bottom: 2rem;
      font-family: "CrimsonText";
      font-size: .875rem;
      font-weight: 400;
      letter-spacing: 1.4px;
   }
   h1{
    position: relative;
    font-family: 'Amsdam';
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.85px;
    padding: 2rem 1rem ;
    line-height: 4rem;
    &:after, &:before{
      position: absolute;
      line-height: 0;
      color: transparent;
      transform: translate(-50%, 0);
      content: "______________________";
      text-decoration: underline wavy #ffffff;
    }
    &:before{
      left: 50%;
      top: -30px; 
      
    }
    &:after{
      left: 50%;
      bottom: 20px;
    }
   }
  }  
  &-btn{
    position: relative;
    margin-top: 3rem;
    background-color: transparent;
    border-color: #f2f2f2;
    color: #ffffff;
    &:hover{
      background-color: #fff;
      color: rgb(63, 63, 63);
    }
    &::after{
      width: 15px;
      height: 50px;
      position: absolute;
      bottom: -45px;
      left: 50%;
      transform: translate(-50%, 0%);
      content: '';
      background-image: url('./../img/Arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;


    }
  }
}