.section-header{
  position: relative;
  text-align: center;
  color: #3e3d3d;
  font-family: 'Amsdam';
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.44px;
  line-height: 100px;
  margin-bottom: 2rem; 
   &:after{
      position: absolute;
      left: 50%;
      bottom: -1.25rem;
      transform: translateX(-50%);
      color: transparent;
      content: "________________";
      text-decoration: underline wavy;
    }
}
.section-short-text{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: 'CrimsonText';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1.4px;
  margin-bottom: 4rem;
}
@media (min-width: 576px) { 
  .section-header{

  }
}